.faq{
  margin-bottom: 110px;
  position: relative;
  z-index: 2;
  @media (max-width: 1200px) {
    margin-bottom: 90px;
  }
}
.faqHeading{
  text-align: center;
  margin-bottom: 60px;
  @media (max-width: 1200px) {
    margin-bottom: 50px;
  }
}

.faqBlock{
  opacity: 0;
  transform: translateY(-80px);
  transition: .3s ease-in-out;
  &.active{
    opacity: 1;
    transform: none;
  }
}