.cardsWrapper{
  position: relative;
  &:before{
    content: '';
    display: block;
    position: absolute;
    width: 1189px;
    height: 662px;
    left: 0;
    top: 165px;
    max-width: 100%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(120, 119, 198, 0.11) 0%, rgba(255, 255, 255, 0) 100%);
  }
}
.cards{
  display: grid;
  grid-template-columns: 623px 1fr;
  grid-gap: 32px;
  margin-top: 124px;
  margin-bottom: 128px;
  position: relative;
  z-index: 2;
}
.card{
  height: 367px;
  background: linear-gradient(358.98deg, rgba(247, 248, 248, 0.05) 1.12%, rgba(247, 248, 248, 0) 99.39%);
  border: 1px solid rgba(255, 255, 255, 0.07);
  border-radius: 12px;
  &:first-of-type{
    padding: 60px 0 60px 57px;
  }
  &:last-of-type{
    position: relative;
  }
}
.cardCourses{
  margin-bottom: 35px;
}
.cardCourse{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px 5px 12px;
  gap: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 999px;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  color: #F7F8F8;
  transition: .2s ease;
  user-select: none;
  span{
    width: 26px;
    height: 25px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 999px;
    display: inline-flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    transition: .2s ease;
  }
  &:hover{
    transform: scale(1.02);
    span {
      transform: translateX(3px);
      background-color: #4C50BE ;
    }
  }

}
.cardTitle{
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  color: #40C8E0;
  margin-bottom: 16px;
}
.cardText{
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #B4BCD0;
}
.cardImage{
  margin: 3px 22px 13px 27px;
}
.cardContent{
  padding: 0 0 0 60px;
}
.cardCarts{
  position: absolute;
  top: 39px;
  right: 0;
  width: 310px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cartItem{
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #F7F8F8;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 147px;
  height: 48px;
  margin-right: 12px;
  margin-bottom: 12px;
  &:nth-of-type(2) {
    margin-right: 0;
    width: 129px;
    border-radius: 14px 0 0 14px;
  }
  &:last-of-type{
    margin-bottom: 0;
    margin-right: 40px;
  }

}