.faq{
  margin-bottom: 110px;
  position: relative;
  z-index: 2;
}
.faqHeading{
  text-align: center;
  margin-bottom: 60px;
}

.faqBlock{
  opacity: 0;
  transform: translateY(-80px);
  transition: .3s ease-in-out;
  &.active{
    opacity: 1;
    transform: none;
  }
}