.imageSection {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.07);
  background: linear-gradient(359deg, rgba(247, 248, 248, 0.05) 1.12%, rgba(247, 248, 248, 0.00) 99.39%);
  display: flex;
  padding: 38px 61px 0 58px;
  justify-content: center;
  align-items: center;
  margin-top: 67px;
  margin-bottom: 120px;

  @media (max-width: 1200px) {
    margin-top: 50px;
    padding: 34px 50px 0 50px;
    margin-bottom: 100px;
  }
  @media (max-width: 900px) {
    margin-top: 35px;
    padding: 34px 40px 0 40px;
    margin-bottom: 90px;
  }
  @media (max-width: 767px) {
    padding: 20px 23px 0 20px;
    margin-bottom: 70px;
  }
  @media (max-width: 370px) {
    padding: 16px 20px 0 16px;
    margin-top: 30px;
    margin-bottom: 60px;
  }
}

.mainImage {
  display: block;
  width: 100%;
  height: 413px;
  object-fit: cover;
  @media (max-width: 1200px) {
    height: 350px;
  }
  @media (max-width: 900px) {
    height: 290px;
  }
  @media (max-width: 767px) {
    height: 150px;
  }

}

.coursesSection{
  
}
.coursesList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  @media (max-width: 1200px){
    gap: 24px;
  }
  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
  @media (max-width: 767px){
    grid-template-columns: 1fr;

  }
}

.courseItem {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.07);
  background: linear-gradient(359deg, rgba(247, 248, 248, 0.05) 1.12%, rgba(247, 248, 248, 0.00) 99.39%);
  padding: 24px;
  opacity: 0;
  transform: translateY(-20px);
  transition: .3s ease-in-out;

  &.active {
    opacity: 1;
    transform: none;
  }

  @media (max-width: 1023px) {
    opacity: 1 !important;
    transform: none !important;
  }

}

.courseItemImage {
  width: 100%;
  object-fit: cover;
  object-position: center center;
  height: 179px;
  @media (max-width: 900px){
    height: 160px;
  }
}

.courseItemTitle {
  color: #FFF;
  margin-top: 14px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 45px;
  height: 60px;
  @media (max-width: 767px){
    height: auto;
  }
}

.descriptionSection{
  margin-bottom: 100px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.07);
  background: linear-gradient(359deg, rgba(247, 248, 248, 0.05) 1.12%, rgba(247, 248, 248, 0.00) 99.39%);
  padding: 47px 57px 48px 62px;
  color: #B4BCD0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  display: flex;
  flex-direction: column;
  gap: 24px;
  h2 {
    color: #B4B0EC;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 145.455% */
    letter-spacing: 0.22px;
    margin-bottom: 30px;
  }
  @media (max-width: 900px) {
    margin-bottom: 60px;
    gap: 16px;
    padding: 24px;
  }

}