.footer{
  padding-top: 10px;
  padding-bottom: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  position: relative;
  z-index: 2;
}
.footerLogo{
  position: relative;
  z-index: 2;
  display: block;
  transition: .2s ease;
  cursor: pointer;
  &:hover{
    transform: scale(1.02);
  }
}