.aboutHeading{
  margin-bottom: 60px;
  @media (max-width: 1200px) {
    margin-bottom: 50px;
  }
  @media (max-width: 900px) {
    margin-bottom: 40px;
  }
  @media (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media (max-width: 370px) {
    margin-bottom: 40px;
  }
}

.aboutContent{
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-gap: 30px;
}

.aboutImage{
  width: 100%;
  user-select: none;
}

.aboutInfo{
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  ::selection{
    background: #5b60e5;
    color: #fff;
  }
  p:not(&:last-of-type){
    margin-bottom: 20px;
  }
  strong {
    font-weight: 600;
    color: #5b60e5;
  }
}